bin/
obj/
.vs/
*.suo
*.swp
*.user

project.lock.json

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

