bin/
obj/
.vs/
*.suo
*.swp
*.user

.idea

woofbot.toml

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

/out
